/* Full-width input fields */
@import url('https://fonts.googleapis.com/css?family=Raleway');


input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 1% 1%;
    margin: 2% 0;
    display: inline-block;
    border: 0px solid #ccc;
    box-sizing: border-box;
}


.drop-down {
    width:100%;
    padding: 1% 1%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    /*padding: 3%;*/
}

a:link, a:visited {
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 5px;
}
a:hover, a:active {
    color:gray;
    padding: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body {
    margin: 0 auto ;
    font-family: 'Raleway', sans-serif;
    background-color: #F1F1F1 ;
    min-height: 100%;
}

.heading{
text-align:left;
font-size: 15px;
color: bisque;
position: relative;
margin: 0;
width: 100%;
height: 20px;
padding-bottom:2px;
padding-top: 2px;
padding-left: 3px;
padding-right: 3px;
background-color: darkslategrey;
}

.container {
    position: relative;
    margin: auto; /* 5% from the top, 15% from the bottom and centered */
    width: 35%;
    align: center;
    padding: 0%;
}

table {
color:#333;
font-family:Helvetica,Arial,sans-serif;
width:100%;
border-spacing:1px;
border-collapse:separate;
padding:0 3px;
}

td, th {
height:30px;
text-align:center;
width:auto;
}

th {
background:#B1B6AF;
font-weight:700;
}

td {
background:#FAFAFA;
}

tr:nth-child(even) td {
background:#F1F1F1;
padding: 3px;
}

tr:nth-child(odd) td {
background:#E1DDDD;
padding: 3px;
}



.footer{
    width: 100%;
    height: 15px;
    font-size: 12px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: white;
    text-align: center;
}



a.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}
a.button:hover {
    background-color: white;
    color: black;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 2% 3%;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
}
button:hover {
    background-color: white;
    color: #4CAF50;
    padding: 2% 3%;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
}


